<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/styles/style.css">
<link rel="stylesheet" href="../static/styles/dashboard_style.css">
<link rel="stylesheet" href="../static/styles/site_theme.css">
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="/Categories">Categories</a></li>
                <li><a href="/dashboard"><button id="user" title={{user}}><img src="../static/images/PngItem_5040528.png" alt="user"></button></a></li>
            </ul>
        </nav>
      </div>
{{user}}
<div class="thought">“No tears in the writer, no tears in the reader. No surprise in the writer, no surprise in the reader.”
    ~  Robert Frost
   </div>
<div class="main">
    <table>
        <tr>
            <td class="heading">UserName:</td>
            <td>UserName</td>
        </tr>
        <tr>
            <td class="heading">favorites</td>
            <td>favorites</td>
        </tr>
    </table>
    <img src="../static/images/dashboard-removebg.png" alt="clipart" id="dash_clip">
<a href="/logout" id="logout_bttn"><button>Log Out</button></a>
</div>
<footer>
    <div class="rights">
        <h4>&copy; Copyright 2022. All rights reserved</h4>
        <h4>Trinetra.com</h4>
    </div>
</footer>
</body>
</html>