<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/styles/style.css">
<link rel="stylesheet" href="../static/styles/dashboard_style.css">
<link rel="stylesheet" href="../static/styles/site_theme.css">
<body>
    <div class="header">
        <nav>
            <div class="logo"><a href="/"><img src="../static/images/logo.jpg" id="logo" alt=""></a></div>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li>{% if user == 'login' %}
                    <div class="logo"><a href="/dashboard"><button id="btn">LOGIN</button></a></div>
                {% else %}
                    <a href="/dashboard"><button id="user" title={{user}}><img src="../static/images/PngItem_5040528.png" alt="user"></button></a></li>
                {% endif %}</li>
            </ul>
        </nav>
      </div>
<div class="thought">“No tears in the writer, no tears in the reader. <br> No surprise in the writer, no surprise in the reader.”
   <br> <p>~ Robert Frost </p>
   </div>
<div class="main">
    <table>
        <tr>
            <td class="heading">UserName:</td>
            <td>{{user}}</td>
        </tr>
        <tr>
            <td class="heading">Favourites</td>
            <td>N/A</td>
        </tr>
    </table>
    <img src="../static/images/dashboard-removebg.png" alt="clipart" id="dash_clip">
<a href="/logout" id="logout_bttn"><button>Log Out</button></a>
</div>
<footer>
    <div class="rights">
        <h4>&copy; Copyright 2022. All rights reserved</h4>
        <h4>Trinetra.com</h4>
    </div>
</footer>
</body>
</html>