<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E Library - Home</title>
</head>
<body>
    <div class="header">
    <nav>
        <ul>
            <li><a href="/login"><button>login</button></a></li>
            <li><a href="/dashboard"><button>{{user}}</button></a></li>
        </ul>
    </nav>
  </div>

  <main><a href="/book/1"><div class="book">book1</div></a></main>
  <main><a href="/book/2"><div class="book">book2</div></a></main>
</body>
</html>