<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
    <link rel="stylesheet" href="/static/styles/formStyle.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/site_theme.css">
</head>
<body>
    <div class="header">
        <nav>
            <div class="logo"><a href="/"><img src="../static/images/logo.jpg" id="logo" alt=""></a></div>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li>{% if user == 'login' %}
                    <div class="logo"><a href="/dashboard"><button id="btn">LOGIN</button></a></div>
                {% else %}
                    <a href="/dashboard"><button id="user" title={{user}}><img src="../static/images/PngItem_5040528.png" alt="user"></button></a></li>
                {% endif %}</li>
            </ul>
        </nav>
      </div>
      <!-- <div class="main"> -->
    <div class="login-form main">
        <form action="/login" method="post" class="form">
            <h2>Log in</h2>
            <p class="text">Username</p>
            <input type="text" name="name" id="username" placeholder="Username">
            <p class="text">Password</p>
            <input type="password" name="pass" id="password" placeholder="Password">
            <p class="login">Login with Google</p>
            <p class="login">Login with Facebook</p>
            <button type="submit">Login</button>
            <p class="signup-msg">Don't have an account?<a href="/signup">Signup</a></p>
        </form>
        <div class="design"><img src="../static/images/login-removebg-preview.png"  alt=""></div>
    </div>
    <!-- </div> -->
    <footer>
        <div class="rights">
            <h4>&copy; Copyright 2022. All rights reserved</h4>
            <h4>Trinetra.com</h4>
        </div>
    </footer>
</body>
</html>