*{
    margin: 0;
    /* padding: 0; */
    /* background-color: rgb(24, 21, 21); */
}

#book_thumbnail{
    width: 100%;
    border-radius: 48px;
}

.detail{
    /* background: grey; */
    position: relative;
    top: -384;
    width: 43% !important;
    /* height: 80%; */
    left: 460;
    font-size: 1.5rem;
}

.main{
    background: #c4c4c4b7 !important;
    box-shadow: 50px -50px #A8A2A2 !important;
}

#book_title{
    font-size: 59px;
    position: relative;
    top: -49px;
    text-align: center;
    left: -243px;
    /* border: solid; */
    width: 160%;
}

.detail ul{
    list-style: none;
    padding-left: 0px;
}

.detail li{
    /* padding: 10px 0px; */
}

.summary{
    margin-top: 23px;
    text-align: justify;
    line-height: 33px;
}

#read{
    background: #63CDF0;
position: relative;
top: 427px;
width: 32%;
left: 91px;
height: 45px;
font-size: 20px;
}

#img_book{
    
    width: 37%;
    height: 487px;
    position: relative;
    top: 30%;
    left: 68;
    border-radius: 48px;
}