*{
    margin: 0;
    padding: 0;
    background-color: rgb(24, 21, 21);
}
.list{
    list-style-type: none;
    padding: 15px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.list li{
    display: inline;
    border: 10px;
    margin: 10px;
    padding: 10px;
    
}
.list li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    font-family: sans-serif;
    /* margin-left: auto; */
    
}
.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 50px;
    width: 90%;
    top: 50%;
    left: 50%;
}
img{
    width: 30%;
}
.detail1{
    padding: 25px;
}
.title{
    font-size: 40px;
    font-family: sans-serif;
    color: #fff;
}
.detail2{
    display: flex;
    flex-direction: row;
}
.detail{
    font-size: 20px;
    padding: 5px;
    color: #fff;
}
.sum{
    font-size: 30px;
    text-decoration: underline;
    color: #fff;
}