*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: #c4ecf7;
    height: 150vh;
}
nav{
    width: 100%;
    height: 12vh;
    background: rgb(158, 229, 252);
}
.login-form{
    padding: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    /* height: 70vh; */
    aspect-ratio: 1.7/1 !important;
    width: 67% !important;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    background-color: rgb(91, 206, 214);
}
.login-form .form{
    padding: 30px;
    padding-left: 75px;
    color: #1e57ad;
}
.login-form h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(24, 24, 148);
    margin: 34px 0;
}
.login-form .text{
    font-size: 25px;
margin: 5px 0;
}
.login-form .login{
    margin: 7px 42px;
font-weight: bold;
cursor: pointer;
}
.login-form .login:hover{
    color: blue;
}
.login-form input{
    font-size: 20px;
width: 100%;
padding: 10px 10px;
border: 0;
border-radius: 20px;
margin-left: 23px;
margin-bottom: 28px;
}
.login-form button{
    font-size: 20px;
font-weight: bold;
margin: 10px 100px;
padding: 8px 10px;
width: 50%;
border-radius: 20px;
cursor: pointer;
background-color: rgb(126, 126, 126);
}
.login-form .signup-msg{
    font-size: 15px;
    margin: 5px 49px;
}
footer{
    position: absolute;
    bottom: -400px;
    width: 100%;
    height: 70px;
    background-color: black;
    display: block;
}
footer .rights{
    padding: 15px;
}
footer h4{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.design img{
    width: 400px;
position: relative;
margin: auto;
left: 200px;
top: 105px;
}