*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: url("/static/images/bg-login.jpg") no-repeat;
    background-size: cover;
}
.signup-form{
    padding: 5px;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.signup-form h2{
    font-size: 50px;
    text-transform: uppercase;
    margin: 20px 0;
}
.signup-form p{
    font-size: 30px;
    margin: 5px 0;
}
.signup-form input{
    font-size: 20px;
    width: 100%;
    padding: 10px 10px;
    border: 0;
    outline: rgba(0, 0, 0, 0.8) solid;
    border-radius: 5px;
}
.signup-form button{
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
    padding: 8px 10px;
    width: 50%;
    border-radius: 3px;
    cursor: pointer;
}
.signup-form .login-msg{
    font-size: 20px;
    margin: 5px 0;
}