*{
    scroll-behavior: smooth;
    margin: 0;
    border: 0px;
}
.header{
    width: 100%;
    height: 12vh;
    background: #9EE5FC;
}

.header nav{
    display: block ruby;
}

.header nav ul{
    list-style: none;
    display: inherit;
    position: absolute;
    right: 41px;
    align-items: center;
    display: flex;
    top: 15px;
}

nav ul li{
    margin-left: 50px;
    padding: 0px 0px;
}

nav ul a{
    color: rgb(23, 2, 71);
    text-decoration: none;
    font-size: larger;
}

#user{
    border-radius: 50%;
    aspect-ratio: 1/1;
}

#user img{
    width: 40px;
    
}

.main_window{
    width: 100%;
    background: #dee7e7;
}

.books{
    width: 70%;
    background : #cde6e6;
    margin: auto;
    padding: 20px;
    /* flex-direction: row; */
    /* overflow-x: scroll; */
}

.section{
    display: flex;
    gap: 30px;
    overflow-x: auto;
}
.section::-webkit-scrollbar{
    display: none;
}

.section_h{
    margin-top: 91px;
    font-size: xx-large;
}

.one_book{
    height: 300px;
    width: 240px;
    background: purple;
    margin: 50px 10px;
    border-radius: 25px;
    transition: 0.3s;
}

.one_book:hover{
    transform: scale(1.1);
}

.swiper {
    width: 100%;
    height: 400px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    /* display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center; */
    justify-content: center;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
    align-items: center;
}
  .card{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    /* 
    .card button{
        font-size: 20px;
        font-weight: bold;
        margin: auto;
        top: 100%;
        padding: 8px 10px;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        background-color: rgb(30, 243, 2);
    }
} */
/* .section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} */

.thumbnails{
    width: 100%;
}

footer{
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 70px;
    background-color: black;
    display: block;
}
footer .rights{
    padding: 15px;
    padding-bottom: 0px;
}
footer h4{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: normal;
}

.book_thumbnail_home{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.one_book a{
    width: inherit;
    height: inherit;
    display: inline-block;
    border-radius: 25px;
}

.book{
    height: inherit;
    width: inherit;
    border-radius: 25px;
}

#logo{
    /* width: 100%; */
    height: 100%;
}

.logo{
    width: 190px;
height: 70px;
position: relative;
left: 25px;
top: 7px;
}